
.sort {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    top: 290%;
    /*height: 502px;*/

}
.menu-down{
    background-color: #bee5eb;
    width: 150px;
    height: 300px;
    overflow: scroll;
    overflow-style: marquee-block;
    position: fixed;
    top: 11%;
}

.menu-down-item:hover{
    background-color: darkcyan;
    cursor: pointer;

}

.btn-sort {
    width: 150px;
    height: 38px;
    position: relative;

}


/*.sort-menu {*/
/*    background-color: #bee5eb;*/
/*}*/
